<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pales Resto - Find Restaurant with delicious food">
    <title>Pales Resto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
</head>

<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header>
        <nav id="navbar">
            <a href="/" class="navbar-brand">PALES RESTO</a>
            <button id="menu-button" aria-label="navigation-menu"><i class="fas fa-bars"></i></button>
            <div class="nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="#">Favorite</a>
                <a class="nav-link" href="https://www.instagram.com/miftahuddin17/">About Us</a>
            </div>
        </nav>
        <nav id="sidebar">
            <div id="sidebar-menu" class="nav">
                <button id="close-button" aria-label="close-navigation-menu"><i class="fas fa-times"></i></button>
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="#">Favorite</a>
                <a class="nav-link" href="https://www.instagram.com/miftahuddin17/">About Us</a>
            </div>
        </nav>

        <section id="hero">
            <div class="hero-content">
                <p class="hero-welcome">Welcome to The</p>
                <h1 class="hero-title">PALES RESTO</h1>
                <p class="hero-tag">Find Restaurant with delicious food</p>
            </div>
        </section>
    </header>
    <main id="main-content">
        <h2 class="content-title">Explore Restaurant</h2>
        <section id="post-list" class="post-list">

        </section>
    </main>
    <footer id="footer">
        Copyright © 2021 - PALES RESTO
    </footer>
</body>

</html>